/* Block */
.ProductSlider {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: #000;
}

.slideImg {
	object-position: top !important;
	height: 100%;
}

/* Elements */
.ProductSlider__close {
	width: 20%;
    height: 50px;
    background-color: transparent;
	color: #fff;
	font-size:1em;
}

.swiper-slide{
	flex-wrap: wrap;
}