/* Block */
.ProductSlider {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 10;
	background-color: #000;
}

/* Elements */
.ProductSlider__close {
	width: 100%;
	height: 44px;
}
